AddDefaultCharset UTF-8

AddOutputFilterByType DEFLATE application/json text/html text/css application/x-javascript

FileETag none

# Turn on Expires and set default to 0
ExpiresActive On

ExpiresByType application/x-javascript "access plus 1 years"
ExpiresByType text/css "access plus 1 years"
ExpiresByType image/x-icon "access plus 1 years"

ExpiresByType text/html "access plus 30 minutes"
ExpiresByType application/json "access plus 30 minutes"

